$color-blue: #6699aa;
$color-cream: #f8f7e5;
$color-dark: #1c1c1c;
$color-orange: #ff834f;
$color-yellow: #f9af42;

$font-heading: 'Eczar', serif;
$font-text: 'Quicksand', sans-serif;

$font-size-min: 16px;

$content-max-width: 1440px;
$padding-desktop: 120px;
$padding-tablet: 40px;
$padding-mobile: 16px;


$bp-tablet: 1024px;
$bp-mobile: 768px;